
<!-- Menu -->
  <section id="menu">
    <!-- Links -->
      <header>
        <h2>COGENT GROUPS</h2>
      </header>
      <section>
        <% if current_user.groups.any? %>
          <ul class="links">
            <% current_user.groups.each do |group| %>
              <li>
                <a href="#">
                  <h3><%= group.name %></h3>
                  <p>Feugiat tempus veroeros dolor</p><!-- Add a group descriptions / perhaps members -->
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </section>

    <!-- Actions -->
      <section>
        <div class="new_post_form_container container">
          <%= simple_form_for @post, remote: true do |f| %>
            <%= f.input :title, input_html: { class: 'input-field' } %>
            <%= f.input :content, input_html: { class: 'input-field' } %>
            <%= f.input :url, input_html: { class: 'input-field' } %>
            <%= f.button :submit %>
          <% end %>
        </div>
         <ul class="actions vertical">
           <% if current_user %>
             <li><%= link_to "Log Out", signout_path, id: "sign_out", class: "button big fit" %></li>
           <% end %>
         </ul>
      </section>
  </section>
