
<!-- Menu -->
  <section id="menu">
    <!-- Links -->
      <header>
        <h2>COGENT GROUPS</h2>
      </header>
      <section>
        <% if current_user.groups.any? %>
          <ul class="links">
            <% current_user.groups.each do |group| %>
              <li>
                <a href="#">
                  <h3><%= group.name %></h3>
                </a>
      						<% if group.users.any? %>
                    <footer>
        							<ul class="stats">
        								<h3>MEMBERS:</h3>
        								<% group.users.each do |user| %>
        									<% if user.username == current_user.username %>
        										<li><a href="#" class="icon fa-user">YOU</a></li>
        									<% else %>
        										<li><a href="#" class="icon fa-user"><%= user.username %></a></li>
        									<% end %><!--end of if -->
        								<% end %><!--end of each -->
                      </ul>
                    </footer>
      						<% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </section>

    <!-- Actions -->
      <section>
        <h3>Add a new post</h3>
        <div class="new_post_form_container container">
          <%= simple_form_for @post, remote: true do |f| %>
            <%= f.input :title, input_html: { class: 'input-field' } %>
            <%= f.input :content, input_html: { class: 'input-field' } %>
            <%= f.input :url, input_html: { class: 'input-field' } %>
            <%= f.button :submit %>
          <% end %>
        </div>
         <ul class="actions vertical">
           <% if current_user %>
             <li><%= link_to "Log Out", signout_path, id: "sign_out", class: "button big fit" %></li>
           <% end %>
         </ul>
      </section>
  </section>
