
<article class="post">
  <header>
    <div class="title">
      <h2><a href="#"><%= post.title %></a></h2>
      <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
      <ul id="tags_<%= post.id %>" class="">
        <% if post.tag_list.any? %>
          <% post.tag_list.each do |tag| %>
            <%= render partial: 'posts/tag', locals: { tag: tag } %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="meta">
      <time class="published" datetime=""><%= post.created_at %></time>
      <a href="#" class="author"><span class="name"><%= post.get_user.username %></span><%= image_tag(post.get_user.image) %></a>
    </div>
  </header>
  <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
  <p id="<%= post.id %>_content"><%= post.content %></p>
  <footer>
    <!-- <ul class="actions">
      <li><a href="#" class="button big">Continue Reading</a></li>
    </ul> -->
    <ul class="stats" id="<%= post.id%>">
      <li><a href="#">General</a></li>
      <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li>
      <li><a href="#"><%= post.url %></a></li>
      <li><%= link_to "Tag this", edit_post_path(post), class: "tag_link", remote: true %></li>
    </ul>
  </footer>
</article>
